<%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/header.ejs') %>
      <main class="main-content grid-container">
        <section class="section-products grid-content">
          <div class="section-content">
          <h1 class="heading-sm">Admin Products</h1>
          <% if (prods.length> 0) { %>
            <ul class="list product-list">
              <% for (let product of prods) { %>
                <li class="product-card content-center">
                  <img class="product-cart-image"
                    src="<%= !product.imageUrl ? '/images/product-images/spiced-mint.png' : product.imageUrl %>"
                    alt="<%= product.title %>" width="255">
                  <div class="product-cart-content">
                    <h3 class="txt product-title">
                      <%= product.title %>
                    </h3>
                    <span class="txt product-price">
                      $<%= product.price %>
                    </span>
                    <p class="txt product-description">
                      <%= product.description %>
                    </p>
                    <div class="product-content-actions">
                      <a href="/admin/edit-product" class="product-btn btn outline small">Edit Product</a>
                      <form action="/admin/delete-product" method="POST">
                        <button type="submit" class="product-btn btn outline small">Delete Product</button>
                      
                      </form>
                    
                    </div>
                  </div>
                </li>
                <% } %>
            </ul>
            <% } else { %>
              <h2 class="heading-sm">No Products Found!</h2>
              <% } %>

                <button class="product-btn btn solid">See more</button>
          </div>
        </section>
      </main>
      <%- include('../includes/end.ejs') %>
