<%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/header.ejs') %>
      <main class="main-content grid-container">
        <section class="hero-section grid-content-full">
          <div class="hero-info-block section-content">
            <h2 class="heading-md">
              <img width="46" height="46" src="/images/icons/flower-pot.png" alt="plant"> <br>
              The nature candle
            </h2>
            <p class="txt">All handmade with natural soy wax, Candleaf is a companion for all your pleasure moments </p>
            <a href="/products" class="btn big solid">Discovery our collection</a>
          </div>
        </section>

        <section class="section-products grid-content">
          <div class="section-content">
            <header class="products-header">
              <h2 class="heading-md">Products</h2>
              <p class="txt descr-heading">Order it for you or for your beloved ones </p>
            </header>

            <% if (prods.length> 0) { %>
              <ul class="list product-list">
                <% for (let product of prods) { %>
                  <li class="product-card content-center">
                    <img class="product-cart-image" src="<%= !product.imageUrl ? '/images/product-images/spiced-mint.png' : product.imageUrl %>"
                    alt="<%= product.title %>" width="255">
                    <div class="product-cart-content">
                      <h3 class="txt product-title">
                        <%= product.title %>
                      </h3>
                      <span class="txt product-price">
                        $<%= product.price %>
                      </span>
                      <div class="product-card_actions">
                        <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                      </div>
                    </div>
                  </li>
                  <% } %>
              </ul>
              <% } else { %>
                <h2 class="heading-sm">No Products Found!</h2>
                <% } %>

                  <a href="/products" class="product-btn btn solid">See more</a>
          </div>
        </section>
        <div class="grid-content-full">
          <section class="feature-section">
            <div class="features-all-content">
              <div class="feature-content">
                <header class="feature-header">
                  <h2 class="heading-md">
                    Clean and fragrant soy wax
                  </h2>
                  <h3 class="feature-subtitle txt txt-emphasize">
                    Made for your home and for your wellness
                  </h3>
                </header>
                <ul class="list list-feature">
                  <li class="feature-item"><strong>Eco-sustainable</strong>: All recyclable materials, 0% CO2 emissions</li>
                  <li class="feature-item"><strong>Hyphoallergenic:</strong> 100% natural, human friendly ingredients </li>
                  <li class="feature-item"><strong>Handmade:</strong> All candles are craftly made with love. </li>
                  <li class="feature-item"><strong>Long burning:</strong> No more waste. Created for last long. </li>
                </ul>
                <a href="#" class="feature-btn btn solid">Learn more</a>
              </div>
              <div class="feature-image">
                <img src="/images/candle-feature.png" alt="candle feature" width="736" height="454">
              </div>
            </div>
          </section>
        
        </div>
      </main>

      <%- include('../includes/end.ejs') %>
